{# The last unbranded auth surface. Same pattern as login.html. #}
{% extends "frappe/www/complete_signup.html" %}

{% block head_include %}
{{ super() }}
{{ include_style("berp_auth.bundle.css") }}
{% endblock %}

{% block content %}
<div class="berp-auth">
	{% include "berp_branding/templates/includes/auth_brand.html" %}
	<div class="berp-auth__panel">
		<div class="berp-auth__panel-inner">
			{{ super() }}
		</div>
		<p class="berp-auth__attribution">{{ _("Powered by bERP") }}</p>
	</div>
</div>
{% endblock %}
